<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js sample-TODO</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/vue.js"></script>
    <style>
        .donestyle {
            text-decoration: line-through;
            color: lightgray;
        }
    </style>
</head>
<body>
    <h2>TODOリスト</h2>
    <div id="todoList">
        <div v-for="todo in todos">
            <label>
                <input type="checkbox" v-model="todo.done">
                <span :class="{donestyle:todo.done}">{{todo.text}}</span>
            </label>
        </div>

        <input type="text" placeholder="すること" v-model.trim="addtext" @keyup.enter="addToDo">
        <p><button @click="cleanToDo">処理済みを削除</button></p>
        <p>{{remaining}}／{{todos.length}}件処理</p>
    </div>
<script>
    new Vue ({
        el: '#todoList',
        data: {
            addtext: '',
            todos: [
                {done: false, text:'パンを買う'},
                {done: false, text:'コーヒーを買う'}
            ]
        },
        computed: {
            remaining: function() {
                return this.todos.filter(function(val) {
                    return val.done;
                }).length;
            }
        },
        methods: {
            addToDo: function() {
                if(this.addtext) {
                    this.todos.push({done:false, text:this.addtext});
                }
            },
            cleanToDo: function() {
                this.todos = this.todos.filter(function(val) {
                    return val.done === false;
                })
            }
        }
    })
</script>
</body>
</html>