<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Vue.js sample-transition</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/vue.js"></script>

    <style>
        .v-enter-active, .v-leave-active {
            transition: .5s;
        }
        .v-enter, .v-leave-to {
            opacity: 0;
            transform: translateX(50px);
        }
    </style>
</head>
<body>
    <h2>transition</h2>
    <div id="transition">
        <label><input type="checkbox" v-model="isOK">切り替える</label>
        <transition>
            <p v-if="isOK">表示、非表示のアニメ</p>
        </transition>
    </div>
    <hr>

    <div id="transitionList">
        <transition-group>
            <li v-for="item in dataArray" :key="item">{{item}}</li>
        </transition-group>
        <label><input v-model="addItem" placeholder="追加するリスト"></label>
        <button @click="addList">追加</button>
        <button @click="removeLast">最後の1つを削除</button>
    </div>
    <hr>

    <div id="shuffle">
        <h3>クリックでシャッフル</h3>
        <button onclick="shuffleData()">シャッフル</button>
    </div>
    <hr>

    <div id="shuffleSort">
        <transition-group>
            <li v-for="item in dataArray" :key="item">{{item}}</li>
        </transition-group>
        <button @click="sortData">ソートする</button>
        <button @click="shuffleData">シャッフルする</button>
    </div>
    <hr>

<script>
new Vue({
    el: '#transition',
    data: {
        isOK: false
    }
})

new Vue ({
    el: '#transitionList',
    data: {
        dataArray:['桃太郎', 'かぐや姫', 'かちかち山'],
        addItem: ''
    },
    methods: {
        addList: function() {
            this.dataArray.push(this.addItem);
            this.addItem = '';
        },
        removeLast: function() {
            var lastIdx = this.dataArray.length - 1;
            this.dataArray.splice(lastIdx, 1);
        }
    }
})

var dataArray = ['one', 'two', 'three', 'four', 'five'];
function shuffleData() {
    var buffer = [];
    var len = this.dataArray.length;
    for (var i=len; len>0; len--) {
        var r = Math.floor(Math.random() * len);
        buffer.push(this.dataArray[r]);
        this.dataArray.splice(r, 1);
    }
    this.dataArray = buffer;
    alert(dataArray)
}

new Vue ({
    el: '#shuffleSort',
    data: {
        dataArray:['one', 'two', 'three', 'four', 'five']
    },
    methods: {
        sortData: function() {
            this.dataArray.sort(function(a,b) {
                if(a < b) return -1;
                if(a > b) return 1;
                return 0;
            });
        },
        shuffleData: function() {
            var buffer = [];
            var len = this.dataArray.length;
            for (var i=len; len>0; len--) {
                var r = Math.floor(Math.random()*len);
                buffer.push(this.dataArray[r]);
                this.dataArray.splice(r,1);
            }
            this.dataArray = buffer;
        },
    }
    
})
</script>
</body>
</html>